<img align="right" style="padding-left:10px; height: 20%; width: 20%" src="figures/projector-300x300.jpg" ></a>

## Case Study: Movie Suggestion

### The Movies Dataset

Collaborative datasets for movies (and other products) can be large! Here is a [small (1 MB) subset of the IMDB database](https://grouplens.org/datasets/movielens/latest/), downloaded and unzipped for your convenience.

The dataset consists of 9742 movies.

In [43]:
import pandas as pd
import numpy as np
from pandas import DataFrame
movies_directory = '../../04-analysis-and-visualization/04-05-recommendations/ml-latest-small/'
movies = pd.read_csv(movies_directory+'movies.csv',header = 0) 

movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Movie Ratings

The above 9742 movies were rated by 610 users; this works out to about 165 movies on average rated by each user, available in the `ratings.csv` file as sampled in the DataFrame below.

In [44]:
ratings = pd.read_csv(movies_directory+'ratings.csv',header = 0) 
ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Investigating the ratings dataset

Find the number of ratings created by each user.

In [129]:
# Ratings Group By userId:
# print (type(ratings.groupby(["userId"])["userId"].count())) # prints <class 'pandas.core.series.Series'>

# Convert Series to DataFrame
#     Ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.reset_index.html#pandas.Series.reset_index

counts = ratings.groupby(["userId"])["userId"].count().reset_index(name="Count")
counts.head(10)

   userId  Count
0       1    232
1       2     29
2       3     39
3       4    216
4       5     44
5       6    314
6       7    152
7       8     47
8       9     46
9      10    140

### Build a collaborative filtering recommender system

1. Create a function `recommend_movies(uid,threshold)` that takes `userId`, `threshold` and `movies_directory` as parameters and produces recommendations for the user. Test the code first with userId = 607. Try various values of threshold such that the user gets at least 6 movie recommendations.

In [393]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from scipy.spatial.distance import cdist, euclidean
from scipy.spatial import distance_matrix
from math import sqrt
assert(np.isclose(euclidean(the_x, all_x), 
                  sqrt(sum([_*_ for _ in distances]))))

In [394]:
# Initial Parameters
given_userId = 607
threshold_distance = 130
movies_directory = '../../04-analysis-and-visualization/04-05-recommendations/ml-latest-small/'
# movies_directory = '../../04-analysis-and-visualization/04-05-recommendations/ml-latest-tiny/'
movies = pd.read_csv(movies_directory+'movies.csv',header = 0) 
ratings = pd.read_csv(movies_directory+'ratings.csv',header = 0)

In [395]:
from random import random, seed
seed(a=314159)
ratings = ratings.drop(ratings.index[[(random() < 0.85) for i in range(len(ratings.index))]])

In [400]:
def recommendation_movies(given_userId, threshold_distance):
    ratings_np = ratings.to_numpy(dtype=np.float32)
    x = ratings_np
    the_x_2d = x[np.where(x[:,0] == given_userId)][:, [2]]
    the_x_2d = the_x_2d[0].reshape(1,1) # pick the first one in case we have multiple ratings records for user.
    the_x = the_x_2d.reshape(the_x_2d.shape[0])
    
    all_x_2d = ratings_np[:, [2]]
    all_x = all_x_2d.reshape(all_x_2d.shape[0])
    all_u_2d = ratings_np[:, [0]]
    all_u = all_u_2d.reshape(all_u_2d.shape[0])
    all_m_2d = ratings_np[:, [1]]
    all_m = all_m_2d.reshape(all_m_2d.shape[0])
    dm = distance_matrix(all_x_2d, all_x_2d)
    a = np.apply_along_axis(lambda x: sqrt(sum([_*_ for _ in x])), 0, dm)

    dists = np.stack([all_u,
                  all_m, a])

    dists_df = DataFrame(dists.transpose(), columns=['u', 'm', 'x'])
    
    dists_df = dists_df[dists_df['x'] < threshold_distance]
    
    candidates_df = dists_df[dists_df['u'] == given_userId]
    candidates_np = candidates_df['m']
    dists_np = dists_df['m']
    candidate_movies = [i for i in set(dists_np) if not i in set(candidates_np) ]
    
    np.isin(movies['movieId'], list(candidate_movies))
    movies1 =  movies[np.isin(movies['movieId'], list(candidate_movies))]
    movies1['candidates'] = candidate_movies
    movies2 = movies1.sort_values(by=['candidates'])
    return movies2

In [401]:
recommendation_movies(given_userId, threshold_distance)

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,movieId,title,genres,candidates
1,2,Jumanji (1995),Adventure|Children|Fantasy,1.0
9,10,GoldenEye (1995),Action|Adventure|Thriller,2.0
20,21,Get Shorty (1995),Comedy|Crime|Thriller,6.0
30,31,Dangerous Minds (1995),Drama,10.0
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,12.0
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,16.0
397,456,Fresh (1994),Crime|Drama|Thriller,17.0
37,41,Richard III (1995),Drama|War,20.0
80,89,Nick of Time (1995),Action|Thriller,21.0
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,22.0
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,23.0
84,95,Broken Arrow (1996),Action|Adventure|Thriller,25.0
85,96,In the Bleak Midwinter (1995),Comedy|Drama,26.0
2807,3752,"Me, Myself & Irene (2000)",Adventure|Comedy,29.0
95,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical,31.0
737,959,Of Human Bondage (1934),Drama,32.0
99,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime,34.0
145,173,Judge Dredd (1995),Action|Crime|Sci-Fi,36.0
126,153,Batman Forever (1995),Action|Adventure|Comedy|Crime,40.0
147,175,Kids (1995),Drama,41.0
225,261,Little Women (1994),Drama,45.0
173,205,Unstrung Heroes (1995),Comedy|Drama,47.0
175,207,"Walk in the Clouds, A (1995)",Drama|Romance,48.0
201,235,Ed Wood (1994),Comedy|Drama,50.0
253,292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller,58.0
275,316,Stargate (1994),Action|Adventure|Sci-Fi,62.0
315,357,Four Weddings and a Funeral (1994),Comedy|Romance,70.0
398,457,"Fugitive, The (1993)",Thriller,89.0
422,485,Last Action Hero (1993),Action|Adventure|Comedy|Fantasy,95.0
436,500,Mrs. Doubtfire (1993),Comedy|Drama,96.0
...,...,...,...,...
7445,81229,Red (2010),Action|Comedy,142997.0
8735,127134,A Walk in the Woods (2015),Adventure|Comedy|Drama,143257.0
8544,115502,"Rewrite, The (2014)",Comedy|Romance,145283.0
384,441,Dazed and Confused (1993),Comedy,145491.0
5775,31410,"Downfall (Untergang, Der) (2004)",Drama|War,146656.0
2696,3617,Road Trip (2000),Comedy,148172.0
8757,128360,The Hateful Eight (2015),Western,149406.0
2701,3624,Shanghai Noon (2000),Action|Adventure|Comedy|Western,152270.0
3300,4465,"Accused, The (1988)",Drama,152372.0
7455,81564,Megamind (2010),Action|Animation|Children|Comedy|Sci-Fi|IMAX,155288.0
4816,7176,Crimson Gold (Talaye sorgh) (2003),Drama,158783.0
6488,53125,Pirates of the Caribbean: At World's End (2007),Action|Adventure|Comedy|Fantasy,159093.0
9347,160980,Sully (2016),Drama,159717.0
3281,4441,Game of Death (1978),Action,160563.0
4026,5693,Saturday Night Fever (1977),Comedy|Drama|Romance,160684.0
5732,30707,Million Dollar Baby (2004),Drama,160980.0
6442,51925,Premonition (2007),Drama|Fantasy|Mystery|Thriller,161127.0
459,524,Rudy (1993),Drama,163937.0
2631,3519,Force 10 from Navarone (1978),Action|Drama|War,164540.0
5901,33615,Madagascar (2005),Adventure|Animation|Children|Comedy,165101.0
2012,2681,Free Enterprise (1998),Comedy|Romance|Sci-Fi,166461.0
2894,3871,Shane (1953),Drama|Western,166635.0
8103,100498,"Good Day to Die Hard, A (2013)",Action|Crime|Thriller|IMAX,167732.0
1096,1425,Fierce Creatures (1997),Comedy,168252.0
1154,1517,Austin Powers: International Man of Mystery (1...,Action|Adventure|Comedy,168266.0
7302,76093,How to Train Your Dragon (2010),Adventure|Animation|Children|Fantasy|IMAX,179819.0
6338,48997,Perfume: The Story of a Murderer (2006),Crime|Drama|Thriller,183635.0
7710,90249,Real Steel (2011),Action|Drama|Sci-Fi|IMAX,184015.0
968,1269,Arsenic and Old Lace (1944),Comedy|Mystery|Thriller,188675.0
4796,7147,Big Fish (2003),Drama|Fantasy|Romance,193583.0

2. Instead of picking the first record for the user, modify the code to begin instead with the movie our user liked the most.

In [402]:
# Modify Cell 15
# What movies has the user picked already? Don't recommend those!
candidates_df = dists_df[dists_df['u'] == 5]
candidates_np = candidates_df['m']
dists_np = (dists_df['x'])
candidate_movies = sorted([i for i in set(dists_np) if not i in set(candidates_np) ])
print (candidate_movies)

[2.1213202476501465, 2.7838821411132812, 3.391165018081665, 3.9370038509368896, 4.663689613342285]

In [407]:
# Incorporate into the suggestion function
def recommendation_movies(given_userId, threshold_distance):
    ratings_np = ratings.to_numpy(dtype=np.float32)
    x = ratings_np
    the_x_2d = x[np.where(x[:,0] == given_userId)][:, [2]]
    the_x_2d = the_x_2d[0].reshape(1,1) # pick the first one in case we have multiple ratings records for user.
    the_x = the_x_2d.reshape(the_x_2d.shape[0])
    
    all_x_2d = ratings_np[:, [2]]
    all_x = all_x_2d.reshape(all_x_2d.shape[0])
    all_u_2d = ratings_np[:, [0]]
    all_u = all_u_2d.reshape(all_u_2d.shape[0])
    all_m_2d = ratings_np[:, [1]]
    all_m = all_m_2d.reshape(all_m_2d.shape[0])
    dm = distance_matrix(all_x_2d, all_x_2d)
    a = np.apply_along_axis(lambda x: sqrt(sum([_*_ for _ in x])), 0, dm)

    dists = np.stack([all_u,
                  all_m, a])

    dists_df = DataFrame(dists.transpose(), columns=['u', 'm', 'x'])
    
    dists_df = dists_df[dists_df['x'] < threshold_distance]
    
    candidates_df = dists_df[dists_df['u'] == given_userId]
    candidates_np = candidates_df['m']
    dists_np = dists_df['m']
    candidate_movies = sorted([i for i in set(dists_np) if not i in set(candidates_np) ])
    
    
    np.isin(movies['movieId'], list(candidate_movies))
    movies1 =  movies[np.isin(movies['movieId'], list(candidate_movies))]
    movies1['candidates'] = candidate_movies
    movies2 = movies1.sort_values(by=['candidates'])
    return movies2

In [408]:
recommendation_movies(given_userId, threshold_distance)

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,movieId,title,genres,candidates
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,2.0
5,6,Heat (1995),Action|Crime|Thriller,6.0
9,10,GoldenEye (1995),Action|Adventure|Thriller,10.0
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,12.0
15,16,Casino (1995),Crime|Drama,16.0
16,17,Sense and Sensibility (1995),Drama|Romance,17.0
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,20.0
20,21,Get Shorty (1995),Comedy|Crime|Thriller,21.0
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,22.0
22,23,Assassins (1995),Action|Crime|Thriller,23.0
24,25,Leaving Las Vegas (1995),Drama|Romance,25.0
25,26,Othello (1995),Drama,26.0
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,29.0
30,31,Dangerous Minds (1995),Drama,31.0
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,32.0
32,34,Babe (1995),Children|Drama,34.0
33,36,Dead Man Walking (1995),Crime|Drama,36.0
36,40,"Cry, the Beloved Country (1995)",Drama,40.0
37,41,Richard III (1995),Drama|War,41.0
41,45,To Die For (1995),Comedy|Drama|Thriller,45.0
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,47.0
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance,48.0
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,50.0
52,58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance,58.0
55,62,Mr. Holland's Opus (1995),Drama,62.0
62,70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,70.0
80,89,Nick of Time (1995),Action|Thriller,89.0
84,95,Broken Arrow (1996),Action|Adventure|Thriller,95.0
85,96,In the Bleak Midwinter (1995),Comedy|Drama,96.0
...,...,...,...,...
9081,142997,Hotel Transylvania 2 (2015),Animation|Comedy,142997.0
9086,143257,Ashby (2015),Comedy|Drama,143257.0
9114,145283,Nowitzki: The Perfect Shot (2014),Documentary,145283.0
9116,145491,Our Lips Are Sealed (2000),Children|Comedy|Drama,145491.0
9128,146656,Creed (2015),Drama,146656.0
9157,148172,The 5th Wave (2016),Adventure|Sci-Fi|Thriller,148172.0
9184,149406,Kung Fu Panda 3 (2016),Action|Adventure|Animation,149406.0
9229,152270,The Wait (2015),Drama,152270.0
9231,152372,Southbound (2016),Horror,152372.0
9245,155288,Eye in the Sky (2016),Drama|Thriller|War,155288.0
9293,158783,The Handmaiden (2016),Drama|Romance|Thriller,158783.0
9306,159093,Now You See Me 2 (2016),Action|Comedy|Thriller,159093.0
9314,159717,The Fundamentals of Caring (2016),Drama,159717.0
9331,160563,The Legend of Tarzan (2016),Action|Adventure,160563.0
9339,160684,Marauders (2016),Action,160684.0
9347,160980,Sully (2016),Drama,160980.0
9352,161127,The Infiltrator (2016),Crime|Drama,161127.0
9389,163937,Blair Witch (2016),Horror|Thriller,163937.0
9398,164540,Amanda Knox (2016),Documentary,164540.0
9407,165101,Inferno (2016),Mystery|Thriller,165101.0
9430,166461,Moana (2016),Adventure|Animation|Children|Comedy|Fantasy,166461.0
9437,166635,Passengers (2016),Adventure|Drama|Romance|Sci-Fi,166635.0
9451,167732,A Street Cat Named Bob (2016),Comedy|Drama,167732.0
9463,168252,Logan (2017),Action|Sci-Fi,168252.0
9465,168266,T2: Trainspotting (2017),Crime|Drama,168266.0
9645,179819,Star Wars: The Last Jedi (2017),Action|Adventure|Fantasy|Sci-Fi,179819.0
9682,183635,Maze Runner: The Death Cure (2018),Action|Mystery|Sci-Fi|Thriller,183635.0
9686,184015,When We First Met (2018),Comedy,184015.0
9714,188675,Dogman (2018),Crime|Drama,188675.0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,193583.0

3. Time your code for various values of `userId` and `threshold`. What accounts for the variation in timing?

In [391]:
import timeit

mysetup = '''import pandas as pd
given_userId = 700
threshold_distance = 130
movies_directory = '../../04-analysis-and-visualization/04-05-recommendations/ml-latest-small/'
# movies_directory = '../../04-analysis-and-visualization/04-05-recommendations/ml-latest-tiny/'
movies = pd.read_csv(movies_directory+'movies.csv',header = 0) 
ratings = pd.read_csv(movies_directory+'ratings.csv',header = 0)'''


mycode = ''' 
def recommendation_movies(given_userId, threshold_distance):
    ratings_np = ratings.to_numpy(dtype=np.float32)
    x = ratings_np
    the_x_2d = x[np.where(x[:,0] == given_userId)][:, [2]]
    the_x_2d = the_x_2d[0].reshape(1,1) # pick the first one in case we have multiple ratings records for user.
    the_x = the_x_2d.reshape(the_x_2d.shape[0])
    
    all_x_2d = ratings_np[:, [2]]
    all_x = all_x_2d.reshape(all_x_2d.shape[0])
    all_u_2d = ratings_np[:, [0]]
    all_u = all_u_2d.reshape(all_u_2d.shape[0])
    all_m_2d = ratings_np[:, [1]]
    all_m = all_m_2d.reshape(all_m_2d.shape[0])
    dm = distance_matrix(all_x_2d, all_x_2d)
    a = np.apply_along_axis(lambda x: sqrt(sum([_*_ for _ in x])), 0, dm)

    dists = np.stack([all_u,
                  all_m, a])

    dists_df = DataFrame(dists.transpose(), columns=['u', 'm', 'x'])
    
    dists_df = dists_df[dists_df['x'] < threshold_distance]
    
    candidates_df = dists_df[dists_df['u'] == given_userId]
    candidates_np = candidates_df['m']
    dists_np = dists_df['m']
    candidate_movies = [i for i in set(dists_np) if not i in set(candidates_np) ]
    
    np.isin(movies['movieId'], list(candidate_movies))
    return movies[np.isin(movies['movieId'], list(candidate_movies))]
    
'''
# timeit statement 
timeit.timeit(setup=mysetup, stmt=mycode, number=100, globals=None)

1.0371208190917969e-05

In [388]:
# user 607, thres = 130:  1.0015908628702164e-05
# user 607, thres = 500:  1.0098796337842941e-05
# user 607, thres = 1000: 1.0150950402021408e-05

In [392]:
# user 700, thres = 130: 1.0371208190917969e-05
# user 700, thres = 500: 1.3859011232852936e-05
# user 700, thres = 1000: 1.0411720722913742e-05

userID accounts for the variation in timing.